<h2>Your Shopping Basket</h2>

<% if @basket.line_items.empty? %>
	<p>Your shopping basket is empty.</p>
<% else %>
	<table>
		<tr>
			<th>Product</th>
			<th>Quantity</th>
			<th>Unit Price</th>
			<th>Total Price</th>
		</tr>
		<% for li in @basket.line_items %>
			<tr>
				<td><%= li.product.name %></td>
				<td><%= li.quantity %></td>
				<td class="price"><%= number_to_currency(li.unit_price) %></td>
				<td class="price"><%= number_to_currency(li.total_price) %></td>
			</tr>
		<% end %>
		<tr class="total_line">
			<td colspan="3">Total</td>
			<td class="price total-price"><%= number_to_currency(@basket.total_price) %></td>
		</tr>
	</table>
	
	<%= link_to image_tag("basket_delete.png")+' Empty basket', empty_basket_path, :method => :delete, :confirm => 'Are you sure?', :class => "button negative" %>
<% end %>
	
		