<h1><%= @category.category_breadcrumb %></h1>

<% unless @products.empty? %>
	<% @products.in_groups_of(3).each do |group| %>
		<div class="product-row">
			<% group.each do |product| %>
				<% unless product.nil? %>
					<%= render :partial => 'product_listing', :locals => {:product => product} %>
				<% end %>
			<% end %>
			<div class="clear"></div>
		</div>
	<% end %>

	<%= paginate @products %>
<% else %>
	<p>No products found in this category.</p>
<% end %>

<% content_for(:sidebar) do %>
	<h3>Refine</h3>
	<% unless @root_category.nil? %>
		<ul class="categories">
			<li class="<%= 'current' if @root_category == @category %>"><%= link_to_unless_current @root_category.name.titleize, shop_path(:category => @root_category.id) %></li>
			<% unless @root_category.children.empty? %>
				<ul class="categories sub-categories">
					<% for sub_category in @root_category.children.sort_by(&:name) %>
						<li class="<%= 'current' if sub_category == @category %>"><%= link_to_unless_current sub_category.name.titleize, shop_path(:category => sub_category.id) %></li>
						<% unless sub_category.children.empty? %>
							<ul class="categories">
								<% for sub_sub_category in sub_category.children.sort_by(&:name) %>
									<li class="<%= 'current' if sub_sub_category == @category %>"><%= link_to_unless_current sub_sub_category.name.titleize, shop_path(:category => sub_sub_category.id) %></li>
								<% end %>
							</ul>
						<% end %>
					<% end %>
				</ul>
			<% end %>
		</ul>
	<% end %>
<% end %>