<%= form_for(@product, :html => {:multipart => true}) do |f| %>
  <% if @product.errors.any? %>
    <div class="error">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "title" %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => "text" %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price, :class => "text" %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity, :class => "text" %>
  </div>
	<div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
	
  <div class="actions">
		<button name="commit" type="submit" class="positive">
			<%= image_tag("tick.png") %> <%= @product.new_record? ? "Create Product" : "Update Product" %>
		</button>
  </div>
<% end %>

<div style="clear: both"></div>
