<h1>Listing products</h1>

<table class="product-listing">
  <tr>
		<th></th>
    <th>Name</th>
		<th>Category</th>
    <th>Price</th>
    <th>Quantity</th>
		<th>Featured</th>
    <th></th>
		<th></th>
		<th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
		<td><%= image_tag product.image.url(:thumb) unless product.image.nil? %></td>
    <td><%= product.name %></td>
    <td><%= product.category_breadcrumb %></td>
    <td><%= number_to_currency(product.price) %></td>
    <td><%= product.quantity %></td>
		<td><%= image_tag("tick.png") if product.featured? %></td>
    <td><%= link_to 'View', product, :class => "button positive" %></td>
		<td><%= link_to 'Edit', edit_product_path(product), :class => "button" %></td>
		<td><%= link_to 'Delete', product, :class => "button negative", :confirm => 'Are you sure you want to delete this product?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path, :class => "button positive" %>
