<h1>Listing products</h1>

<table class="product-listing">
  <tr>
		<th></th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
		<td><%= image_tag product.image.url(:thumb) unless product.image.nil? %></td>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= number_to_currency(product.price) %></td>
    <td><%= product.quantity %></td>
    <td><%= button_to 'Add to Cart', line_items_path(:product_id => product) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
