<title><%= title %></title>
<% if meta_description %>
	<meta name="description" content="<%= meta_description %>">
<% end %>
<%= stylesheet_link_tag    "application" %>
<link rel="stylesheet" href="/assets/blueprint/print.css" type="text/css" media="print"> 
<!--[if lt IE 8]>
	<link rel="stylesheet" href="/assets/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

<% if Rails.env.production? %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-25842618-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
<% end %>