<div class="span-22 prepend-1 append-1 last">
	<div id="menu">
		<ul class="menu">
			<li class="first"><%= link_to content_tag(:span, "Home"), root_path %></li>
			<% for category in Category.roots.includes({:children => :children}) %>
				<li>
					<%= link_to content_tag(:span, category.capitalized_name), shop_path(:ancestors => category.ancestors_for_route, :category => category.dasherized_name) %>
					<% unless category.children.empty? %>
						<div>
							<ul>
								<% for sub_category in category.children.sort_by(&:name) %>
									<li class="parent">
										<%= link_to content_tag(:span, sub_category.capitalized_name), shop_path(:ancestors => sub_category.ancestors_for_route, :category => sub_category.dasherized_name) %>
										<% unless sub_category.children.empty? %>
											<div>
												<ul>
													<% for sub_sub_category in sub_category.children.sort_by(&:name) %>
														<li><%= link_to content_tag(:span, sub_sub_category.capitalized_name), shop_path(:ancestors => sub_sub_category.ancestors_for_route, :category => sub_sub_category.dasherized_name) %></li>
													<% end %>
												</ul>
											</div>
										<% end %>
									</li>
								<% end %>
							</ul>
						</div>
					<% end %>
				</li>
			<% end %>
			<% if current_user and current_user.admin? %>
				<li>
					<%= link_to content_tag(:span, "Admin"), products_path %>
					<div>
						<ul>
							<li class="parent"><%= link_to content_tag(:span, "Products"), products_path %></li>
							<li class="parent"><%= link_to content_tag(:span, "Categories"), categories_path %></li>
						</ul>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
</div>