<div class="span-22 prepend-1 append-1 last">
	<div id="menu">
		<ul class="menu">
			<li class="first"><%= link_to content_tag(:span, "Home"), root_path %></li>
			<% for category in Category.roots %>
				<li>
					<%= link_to content_tag(:span, category.name.titleize), shop_path(:category => category.id) %>
					<% unless category.children.empty? %>
						<div>
							<ul>
								<% for sub_category in category.children %>
									<li class="parent">
										<%= link_to content_tag(:span, sub_category.name.titleize), shop_path(:category => sub_category.id) %>
										<% unless sub_category.children.empty? %>
											<div>
												<ul>
													<% for sub_sub_category in sub_category.children %>
														<li><%= link_to content_tag(:span, sub_sub_category.name.titleize), shop_path(:category => sub_sub_category.id) %></li>
													<% end %>
												</ul>
											</div>
										<% end %>
									</li>
								<% end %>
							</ul>
						</div>
					<% end %>
				</li>
			<% end %>
			<% if current_user and current_user.admin? %>
				<li>
					<%= link_to content_tag(:span, "Admin"), products_path %>
					<div>
						<ul>
							<li class="parent"><%= link_to content_tag(:span, "Products"), products_path %></li>
							<li class="parent"><%= link_to content_tag(:span, "Categories"), categories_path %></li>
						</ul>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
</div>