<!DOCTYPE html>
<html>
<head>
  <%= render :partial => 'layouts/head' %>
</head>
<body>
	<div class="container">
		<%= render :partial => 'layouts/banner' %>
		<%= render :partial => 'layouts/flash' %>
		<div id="full-content-header" class="span-24 last"></div>
		<div id="full-content-bg" class="span-22 prepend-1 append-1">
			<div class="span-22 last">
				<div id="full-content">
					<%= yield %>
				</div>
			</div>
		</div>
		<div id="full-content-footer" class="span-24 last"></div>
		<div id="footer-links" class="span-22 prepend-1 append-1 last">
			<span><%= link_to "About Us", about_path %></span> | 
			<span><%= link_to "Contact", contact_path %></span> | 
			<span><%= link_to "Terms & Conditions", terms_path %></span>
		</div>
	</div>
</body>
</html>
