<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
	<%= stylesheet_link_tag    "application" %>
	<%= stylesheet_link_tag    "blueprint/print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div id="header" class="span-24 last">
			<h1 id="header-title">Caliburn Entertainment</h1>
		</div>
		<hr />
		<div id="menu" class="span-24 last">
		  <%= link_to "Home", root_path %> | <%= link_to "Products", products_path %>
		</div>
		<hr />
		
		<% if flash[:notice] %>
			<p class="success"><%= flash[:notice] %></p>
		<% end%>
		<% if flash[:error] %>
			<p class="error"><%= flash[:error] %></p>
		<% end %>
		
		<%= yield %>
	</div>	
</body>
</html>
