<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
	<%= stylesheet_link_tag    "application" %>
	<link rel="stylesheet" href="/assets/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/assets/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div id="header" class="span-24 last">
			<div id="banner" class="span-20">
				<h1 id="header-title">Caliburn Entertainment</h1>
			</div>
			<div id="banner-links" class="span-4 last">
				<%= link_to(basket_path) do %>
					<img src="/assets/basket.png">
					<span>View Basket</span>
				<% end %>
			</div>
			<div class="span-24 last">
			  <div id="nav">
					<ul>
						<li>
							<%= link_to "Home", root_path %>
						</li>
						<li><%= link_to "Products", shop_path %></li>
						<li><%= link_to "Manage Products", products_path %></li>
					<ul>
				</div>
			</div>
		</div>
		
		<div class="span-24 last">
			<% if flash[:notice] %>
				<p class="success"><%= flash[:notice] %></p>
			<% end%>
			<% if flash[:error] %>
				<p class="error"><%= flash[:error] %></p>
			<% end %>
		</div>
		
		<%= yield %>
		
		<div id="footer" class="span-24">
  		<hr/>
			<ul>
				<li><%= link_to "About Us", about_path %></li>
				<li><%= link_to "Contact", about_path %></li>
			</ul>
  	</div>
	</div>	
</body>
</html>
