<!DOCTYPE html>
<html>
<head>
  <%= render :partial => 'layouts/head' %>
</head>
<body>
	<div class="container">
		<%= render :partial => 'layouts/banner' %>
		<%= render :partial => 'layouts/flash' %>
		<%= yield %>
		<%= render :partial => 'layouts/footer_links' %>
	</div>
</body>
</html>
